@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lora&display=swap');

:root {
  --primary-color: #4A4E69   ;
  --secondary-color: #9A8C98 ;
  --accent1-color: #C9ADA7;
  --accent2-color: white;
 
  --heading-font: Roboto, sans-serif;
  --paragraph-font: Lora, serif;

  --nav-background-color: #4A4E69;
  --nav-link-color: white;
  --nav-hover-link-color: #F2E9E4;
  --nav-hover-background-color: #9A8C98; 
  
  --headline-color-on-white: #4A4E69; 
  --headline-color-on-color: white;  
  --paragraph-color-on-white: #4A4E69;  
  --paragraph-color-on-color: white; 
  --paragraph-background-color: #9A8C98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  font-family: var(--paragraph-font);
  padding: 20px;
}

h1 {
  background-color: #4A4E69;
  color: white;
  text-align: center;
}

h2 {
  font-family: var(--heading-font);
  color: #4A4E69;
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-self: center;
  background-color: var(--nav-background-color);
  color: var(--nav-link-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  grid-gap: 10px;
  border: 1px solid black;
  margin-bottom: 10px;

}

.logo {
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid black;
	width: 150px;
	height: auto;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: var(--nav-hover-link-color);
  color: var(--primary-color);
  border: 1px solid black;
}

.navigation a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 16px 32px;
  margin: 0;
  border-right: 1px solid black;
}

.navigation a:last-child {
  border-right: none;
}

.navigation a:hover {
  background-color: var(--accent1-color);
  color: var(--nav-link-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
}

.hero {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
}

.hero img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.hero h1 {
  position: absolute;
  top: 2%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-family: var(--heading-font);
  font-size: 36px;
  color: white;
  text-align: center;
}

.hero h2 {
  color: white;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.hero>.moto {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 8%;
  background-color: var(--nav-background-color);
  border-radius: 24px;
  padding: 12px;
  opacity: 0.9;
}

.hero>.moto p {
  color: white;
  font-family: var(--paragraph-font);
  text-align: left;
  vertical-align: middle;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 8px;
}

.hero>.moto img {
  float: right;
  width: 30%;
  height: auto;
}

.history {
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.history h2 {
  text-align: center;
  margin-bottom: 20px;
}

.hiscontent {
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  gap: 10px;
}

.hiscontent p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding: 8px;
}

.hiscontent img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  padding: 8px;
}

.adventures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.adventures h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

figure {
  flex: 1;
  text-align: center;
  margin: 0;
}

figure img {
  max-width: 100%;
  height: 120px;
  display: block;
  margin: 0 auto;
}

figcaption {
  margin-top: 10px;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: 1px solid black;
}

footer p {
  flex: 1;
  margin: 10px;
}

.sociallinks {
  display: flex;
  gap: 10px;
}

.sociallinks a {
  text-decoration: none;
}

.sociallinks img {
  width: 30px;
  height: 30px;
}

.contact-hero {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
}

.contact-hero img {
  max-width: 100vw;
  height: auto;
  border: 1px solid black;
  margin-bottom: 10px;
}

.contact-hero h1 {
  position: absolute;
  top: 2%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-family: var(--heading-font);
  font-size: 36px;
  color: white;
  text-align: center;
}

.company-info {
  margin-bottom: 20px;
}

.google-map {
  width: 600px;
  height: 450px;
}

.employee-profiles {
  display: flex;
  justify-content: space-between;
  max-width: 80%; 
  margin: 0 auto; 
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.employee-profiles h2 {
  color: #9A8C98;
  text-align: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.employee {
  text-align: center;
}

.employee img {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contact-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  font-weight: bold;
}

.contact-form input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.contact-form input[type="checkbox"] {
  margin-right: 5px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #9A8C98;
}
