@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #fff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    text-align: center;
    color: black;
  }
  
  form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .quiz label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }

.quiz label::first-letter,
.quiz label:nth-child(2) {
    font-weight: bolder;
    color: steelblue;
}

  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }
  
  button {
    background-color: steelblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
  }
  
  button:hover {
    transition: 0.2s ease-in-out;
    background-color: steelblue;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-content: center;
  }

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}